body {
    background:
    url(../images/zebra.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.jumbotron {
    background: transparent !important;
    color:#fff;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 100px;
    text-align:center;
    font-family: 'Lobster', cursive;
    text-shadow: #000;
    font-weight: 400;
}


html {
  font-size: 16px;
}


img {
    height: 175px;
    width: 175px;
    border-color: #000;
}


.btn {
    margin: 3px;
    background-color: #000;
    border-color: #fff;
}


#gifButtonsView  {
    background-color: #000000;
}


.gifDiv{
    margin: 4px;
    float: left;
}


.container {
  background: #fff;
  opacity: 0.8;
  padding: 10px;

}



